.bmi-result {
    /* text-align: center; */
    font-weight: bold;
    font-size: 2em;
    margin-top: 20px;
    
  }
.App_container{
margin-left: 150px;
margin-right: 150px;
}
  .form-group{
      margin-top: 20px;
  }
      /* text-align: center; */
  .col-xs-12 p{
      /* color: rgb(43, 165, 226);
      font-size: 30px;
       */
       font-size: 32px;
       font-weight: bold;
       /* color:#EE82EE; */
       background-image: linear-gradient(to right top, #fb3ddb, #d157eb, #a168f3, #6a72f3, #1278eb);
       /* width: 230px;
       border-radius: 8px;
       text-align: center;
       height: 50px;
       color: white; */
       -webkit-background-clip: text;
       -moz-background-clip: text;
       -webkit-text-fill-color: transparent; 
       -moz-text-fill-color: transparent;
  }
  
  .tips{
      text-align: left;
      /* line-height: 1.5px; */
  }
  .tips p{
      /* line-height: 1.7; */
      font-size: 20px;
      
  }
  .tips h3{
    color: tomato;
    font-size: 23px;
  }
  .tips h4{
      color:green;
      font-size: 20px;
  }
  .underweight{
      /* line-height: 2; */
      font-size: 20px;
  }
.overweight{
    font-size: 20px;
}
.style_table{
    font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
   
}

.style_table td, .style_table  th{
    border: 1px solid #ddd;
  padding: 8px;
}
/* .style_table tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
} */

  @media (max-width: 480px) {
    .App_container {
        /* background-color: red; */
        margin: 5px;
        padding: unset;
    }
}